<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="programmer" class="com.ankit.Programmer" autowire="byName">
        <constructor-arg value="25" />
        <property name="laptop" ref="lap1"/>
    </bean>
    <bean id="lap1" class="com.ankit.Laptop" lazy-init="true"/>
</beans>